@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #542C85;
  color: #004280;
  font-size: 16px;
}

/* transition: <transition-property> <transition-duration> <transition-timing-function> <transition-delay>; */
